

// .loader{    
//   display: flex;
//   justify-content: center;
//   color: rgb(5, 98, 121);
//   animation: loading infinite;
//   animation-duration: 1s;
//   width:100px auto;
//   height:40px;
// }

// @keyframes loading {
//   0% {font-size: 12px;}
//   50% {font-size: 32px;}
//   100% {font-size:12px;}
// }