

.user {
    line-height: 2;
  
    @media only screen and (max-width: 400px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      line-height: initial;
      padding: 1rem 0;
  
      & span:first-child {
        align-self: center;
      }
    }
  }
  
  .user__detail {
    padding: 1rem 5px;
    @media only screen and (max-width: 500px) {
      font-size: 0.8rem;
      padding: 3px;
    }
  
    &--faded {
      color: grey;
    }
  
    &--larger {
      font-size: 1.2rem;
      white-space: nowrap;
      @media only screen and (max-width: 500px) {
        font-size: 1rem;
      }
    }
  }
  